@import "../../setup/colors.scss";

.scroll-to-top-button-wrapper {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  cursor: pointer;
  z-index: 500;

  .scroll-to-top-button {
    background-color: transparent;
    height: 2.5rem;
    width: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 4px;
    transition: 0.2s ease;

    .icon {
      font-size: 1.25rem;
    }

    &:hover {
      background-color: var(--white);
      box-shadow: var(--box-shadow);
    }
  }
}
