@import "../../setup/colors.scss";

.projects-section-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--background-secondary);

  .three-projects-section-description {
    margin-bottom: 0 !important;
  }

  .custom-button-wrapper {
    margin: auto;

    .custom-button {
      text-decoration: none;
      margin-top: 3rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .projects-section-wrapper {
    max-width: 100vw;
    overflow-x: hidden;

    .section-heading {
      max-width: 100%;
    }

    .section-description {
      max-width: 100%;
      margin: 0;
    }

    .custom-button-wrapper {
      max-width: 100%;
      text-align: center;
    }
  }
}
