@import "../../setup/colors.scss";

.carousel-card-wrapper {
  border-radius: 8px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.2s ease-out;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
  margin: 1rem;
  min-width: 250px;
  max-width: 350px;
  overflow: visible;

  .carousel-screenshot {
    padding: 0.75rem;

    img {
      width: 100%;
      border-radius: 8px;
      box-shadow: var(--box-shadow);
      transition: 0.2s ease-out;

      &:hover {
        transform: scale(1.25);
        box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.25), 0 0 0 1px rgba(10, 10, 10, 0.02);
      }
    }
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 12px 16px #00000020;
  }

  .card-description {
    padding: 1.5rem;
    padding-top: 0.5rem;
    height: 50%;
    display: flex;
    flex-direction: column;

    .carousel-name-section {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;

      .framework-grid {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        .framework-icon {
          background-color: transparent;
          height: 1.5rem;
          width: 1.5rem;
          margin: 0;
          margin-right: 0.5rem;
          border-radius: 2px;
        }

        span {
          text-transform: capitalize;
        }
      }

      .carousel-name {
        font-size: 1.3rem;
        font-weight: 600;
      }
    }

    .carousel-description {
      margin-bottom: 1rem;
    }

    .carousel-links {
      display: flex;
      justify-content: flex-start;
      margin: 0.5rem 0.5rem 0.5rem 0;
    }

    button {
      margin-right: 0.5rem;
    }
  }
}
