.blog-posts-section-wrapper {
  background-color: var(--background-primary);

  .blog-posts-section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .blog-posts-text-wrapper {
      display: flex;
      flex-direction: column;
      display: block;
      width: 100%;
      margin-bottom: 5rem;

      .blog-posts-title,
      .blog-posts-description {
        max-width: 600px;
        margin: auto;
        text-align: center;
      }

      .blog-posts-title {
        margin-bottom: 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .blog-posts-section-wrapper {
    .blog-posts-section-container {
      .blog-posts-text-wrapper {
        margin-bottom: 2rem;

        .blog-posts-title,
        .blog-posts-description {
          max-width: 90%;
        }
      }
    }
  }
}
