@import "../../setup/colors.scss";

.dev-tools-wrapper {
  background-color: var(--light-grey);

  .dev-tools-container {
    padding: 2rem 0;

    .dev-tools-grid {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .single-tool-description-wrapper {
      display: flex;
      background-color: var(--white);
      padding: 3rem 5rem;
      border-radius: 4px;
      text-align: left;
      border-color: var(--light-grey);
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.03);
      margin-top: 1.5rem;

      .single-tool-logo {
        display: grid;
        place-items: center;

        img {
          height: 7.5rem;
          width: 7.5rem;
        }
      }

      .divider {
        height: 5rem;
        width: 5rem;
      }

      h3 {
        margin-bottom: 1rem;
      }

      p {
        margin: 0 0 1rem 0;
        min-height: 4rem;
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .dev-tools-wrapper {
    .dev-tools-container {
      .single-tool-description-wrapper {
        flex-direction: column;
        padding: 2rem 3rem;
        margin: 2rem 1rem 0 1rem;

        .divider {
          height: 2.5rem;
          width: 2.5rem;
        }

        .single-tool-logo {
          img {
            height: 8rem;
            width: 8rem;
          }
        }
      }
    }
  }
}
