.project-card-wrapper {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  transition: 0.2s ease-out;
  box-shadow: 0 0 3em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
  margin: 1rem;
  max-width: 350px;
  min-width: 300px;
  position: relative;
  background-color: var(--background-primary);
  transform: translateY(-5px);

  /* in progress ribbon */
  .in-progress-ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    left: -10px;
  }
  .in-progress-ribbon::before,
  .in-progress-ribbon::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border: 5px solid rgb(196, 1, 1);
    border-top-color: transparent;
    border-left-color: transparent;
    overflow: hidden;
  }

  .in-progress-ribbon::before {
    top: 0;
    right: 0.55rem;
  }

  .in-progress-ribbon::after {
    bottom: 0.55rem;
    left: 0;
  }

  .in-progress-ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 0.5rem 0;
    background-color: red;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
    right: -20px;
    top: 40px;
    transform: rotate(-45deg);
  }

  .project-screenshot {
    padding: 0.75rem;

    img {
      width: 100%;
      border-radius: 8px;
      box-shadow: var(--box-shadow);
      transition: 0.2s ease-out;
    }
  }

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 3em -0.125em rgba(10, 10, 10, 0.25), 0 0 0 1px rgba(10, 10, 10, 0.02);
  }

  .card-description {
    padding: 1.5rem;
    padding-top: 0.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;

    .project-name-section {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;

      .framework-grid {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        .framework-icon {
          background-color: transparent;
          height: 1.5rem;
          width: 1.5rem;
          margin: 0;
          margin-right: 0.5rem;
          border-radius: 2px;
        }

        span {
          text-transform: capitalize;
        }
      }

      .project-name {
        font-size: 1.3rem;
        font-weight: 600;
      }
    }

    .project-description {
      margin-bottom: 1rem;
      flex-grow: 1;

      p {
        font-size: 1rem;
      }
    }

    .project-links {
      display: flex;
      justify-content: flex-start;
      margin: 0.5rem 0.5rem 0.5rem 0;
      color: var(--text-primary);
    }

    button {
      margin-right: 0.5rem;
    }
  }
}
