body {
  --white: #ffffff;
  --black: #2d3747;
  --blue: hsl(220, 100%, 60%);
  --blue-light: hsl(218, 73%, 93%);
  --blue-light: hsl(220, 82%, 89%);
  --blue-dark: hsl(220, 100%, 50%);
  --background-primary: #ffffff;
  --background-secondary: #f5f5f7;
  --text-primary: #202024;
  --light-grey: #f4f6f9;
  --border-grey: lightgrey;
  --box-shadow: 0px 0px 1px var(--border-grey);
}

body.dark {
  --background-primary: #061018;
  --background-secondary: #0b1a28;
  --text-primary: #c2c2c2;
}
