@import "../../setup/colors.scss";

.navbar-wrapper {
  background-color: var(--background-primary);
  padding: 1rem !important;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;

  * {
    color: var(--text-primary);
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-logo {
      position: relative;

      a {
        font-weight: bold;
        font-size: 1.75rem;
        padding-bottom: 0.2rem;
        text-decoration: none;
        color: var(--text-primary);

        &:hover {
          cursor: pointer;
        }
      }
    }

    nav {
      display: flex;
      list-style: none;

      li {
        .nav-link {
          margin-left: 1.5rem;
          padding-bottom: 0.2rem;
          color: var(--text-primary);
          text-decoration: none;

          &:hover {
            cursor: pointer;
          }
        }

        .active {
          color: var(--blue-dark);
        }
      }
    }

    .button-container {
      margin-left: 1rem;
    }

    .hamburger-wrapper {
      display: none;
    }
  }
}

.navbar-scrolled {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.03);
}

@media screen and (max-width: 600px) {
  .navbar-wrapper {
    .navbar-container {
      nav {
        position: fixed;
        flex-direction: column;
        height: calc(100vh - 4rem);
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: var(--background-primary);

        li {
          .nav-link {
            margin: 0;
            width: 100%;
            padding: 0.5rem 1rem;
            display: block;
          }
        }
      }

      nav,
      .button-container {
        transform: translateX(100vw);
        transition: 0.25s ease-out;
      }

      .button-container {
        position: fixed;
        bottom: 1rem;
        left: 5vw;
        right: 5vw;
        margin: 0;

        a {
          display: block;
          text-align: center;
        }
      }

      .hamburger-wrapper {
        display: grid;
        place-items: center;
        cursor: pointer;

        .hamburger-icon {
          font-size: 2rem;
        }
      }
    }

    .nav-open {
      z-index: 900;
      box-sizing: border-box;

      nav,
      .button-container {
        display: block;
        z-index: 901;
        transform: translateX(0);
      }
    }
  }
}
