@import "../../setup/colors.scss";

.three-projects-section-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .three-projects-section-wrapper {
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    max-width: 100vw;
    overflow: auto;
    scroll-snap-type: x mandatory;
    margin-left: -1rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;

    // hiding scroll bar

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .project-card-wrapper {
      scroll-snap-align: center;
    }
  }
}
