@import "../../setup/colors.scss";

.contact-section-wrapper {
  .contact-section-container {
    background-color: var(--blue);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contact-description,
    .contact-button {
      padding: 3rem;
    }

    .contact-button {
      min-width: 250px;
    }

    .contact-description {
      color: white;

      h3 {
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .contact-section-wrapper {
    .contact-section-container {
      flex-direction: column;

      .contact-description,
      .contact-button {
        padding: 2rem;
        text-align: center;
      }
    }
  }
}
