.projects-filter-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem auto 3rem auto;
  max-width: 900px;
  flex-wrap: wrap;

  .custom-button {
    margin: 0.5rem;
    display: inline-block;
  }
}

@media screen and (max-width: 767) {
  .projects-filter-wrapper {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
