@import "../../setup/colors.scss";

.card-wrapper {
  text-decoration: none;
  color: var(--black);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  transition: 0.15s ease-out;
  box-shadow: 0 0 3em -0.125em rgba(10, 10, 10, 0.05), 0 0 0 1px rgba(10, 10, 10, 0.02);
  margin: 1rem;
  max-width: 350px;
  position: relative;
  background-color: var(--background-primary);

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 3em -0.125em rgba(10, 10, 10, 0.15), 0 0 0 1px rgba(10, 10, 10, 0.02);

    .card-container {
      .blog-card-info-wrapper {
        .card-footer {
          .read-more-button {
            color: var(--blue-dark);

            .arrow-icon {
              transform: translateX(3px);
            }
          }
        }
      }
    }
  }

  .card-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;

    .post-image {
      border-radius: 8px;
      margin-bottom: auto;
      max-width: 330px;
    }

    .blog-card-info-wrapper {
      display: flex;
      flex-direction: column;
      padding: 0.75rem;
      flex-grow: 1;

      .post-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .post-summary {
        font-size: 1rem;
        flex-grow: 1;
        min-height: 5rem;
        margin-bottom: 2rem;
      }

      .card-footer {
        display: flex;
        justify-content: space-between;

        .read-more-button,
        .post-date {
          align-self: flex-end;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: var(--blue);

          .arrow-icon {
            margin-left: 0.5rem;
            transition: 0.15s ease-out;
          }
        }

        .post-date {
          color: var(--text-primary);
          font-size: 0.9rem;

          &:hover {
            color: var(--text-primary);
          }
        }
      }
    }
  }
}
