@import "../../setup/colors.scss";
.single-post-wrapper {
  .single-post-container {
    display: flex;
    flex-direction: column;

    .post-title {
      max-width: 1000px;
      text-align: center;
      margin: 2.5rem auto 7.5rem auto;
    }

    .featured-image {
      width: 1000px;
      border-radius: 8px;
      margin: auto;
      margin-bottom: 3rem;
    }

    .post-rich-text {
      p,
      ul,
      li {
        max-width: 600px;
        margin: auto;
      }

      img {
        max-width: 1000px;
      }
    }
  }
}
