@import "../../setup/colors.scss";

.scroll-to-top-button-wrapper {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  cursor: pointer;
  z-index: 500;

  .scroll-to-top-button {
    height: 2.5rem;
    width: 2.5rem;
    display: grid;
    place-items: center;
    transition: 0.2s ease;
    border-radius: 4px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);

    .icon {
      font-size: 1.25rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .scroll-to-top-button-wrapper {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
