@import "../../setup/colors.scss";

.navbar-wrapper {
  background-color: var(--white);
  padding: 1rem !important;
  z-index: 999;

  .navbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .navbar-logo {
      margin-right: auto;
      position: relative;

      a {
        font-weight: 500;
        font-size: 1.75rem;
        padding-bottom: 0.2rem;
        border-bottom: solid 2.5px transparent;

        &:hover {
          cursor: pointer;
          border-color: var(--black);
        }
      }
    }

    nav {
      display: flex;
      list-style: none;

      li {
        a {
          margin-left: 1.5rem;
          padding-bottom: 0.2rem;
          border-bottom: solid 2px transparent;

          &:hover {
            cursor: pointer;
            border-color: var(--black);
          }
        }
      }
    }

    .button-container {
      margin-left: 1rem;
    }
  }
}

.navbar-scrolled {
  position: sticky;
  top: 0;
  border-color: var(--light-grey);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.03);
}
