.projects-section-container {
  justify-content: center;
}
.test {
  display: block;
  background-color: red;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}