@import "../../setup/colors.scss";

.projects-section-wrapper {
  .projects-section-container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 767px) {
  .projects-section-wrapper {
    .projects-section-container {
      margin-left: 0;
    }
  }
}
