@import "../../setup/colors.scss";

.custom-button {
  outline: none;
  border: none;
  background-color: var(--blue);
  padding: 0.75rem 2rem;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  transition: 0.1s;
  text-decoration: none;

  &:hover {
    background-color: var(--blue-dark);
    box-shadow: 0px 0px 5px #00000050;
  }
}

.transparent-button {
  background-color: transparent;
  color: var(--black);
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 0.25rem;
    left: 1.5rem;
    background-color: transparent;
    height: 2px;
    width: calc(100% - 3rem);
  }

  &:hover {
    box-shadow: none;
    background-color: transparent;

    &::after {
      background-color: var(--black);
    }
  }
}

.white-button {
  background-color: var(--white);
  color: var(--black);

  &:hover {
    box-shadow: none;
    background-color: var(--light-grey);
  }
}

@media screen and (max-width: 600px) {
  .custom-button {
    padding: 1rem 2rem;
  }
}
