@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600,700&display=swap");
@import "./setup/colors.scss";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// section styling

.section-wrapper {
  padding: 5rem 1rem;

  .section-container {
    max-width: 1200px;
    margin: auto;
  }

  .section-heading {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .section-description {
    max-width: 600px;
    text-align: center;
    margin: auto;
    margin-bottom: 5rem;
  }
}

// text defaults

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-size: 1.1rem;
  font-weight: 400;
}
