@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;600;900&display=swap");

@import "./setup/colors.scss";

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--black);
  font-family: "Red Hat Text", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  background: #e3e3e3;
  border-radius: 5px;
  padding: 5px 5px;
  color: #4d4d4d;
  font-family: monospace;
  font-size: 0.9rem;
  display: block;
}

// section styling

.section-wrapper {
  padding: 5rem 1rem;

  .section-container {
    max-width: 1200px;
    margin: auto;
  }

  .section-heading {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .section-description {
    max-width: 600px;
    text-align: center;
    margin: auto;
    margin-bottom: 5rem;
  }
}

// text defaults

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 300;
  font-family: "Red Hat Text", sans-serif;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

// custom scrollbar

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--blue-dark);
}
